.gitignore

# TeX specific
tex/
*.tex
*.aux
*.log
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.bbl
*.blg
*.out
*.idx
*.ind
*.ilg
*.el
*.sty
*.awk
vc
slides/figs/

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
